h1{
    text-align: left;
    color:rgb(71, 108, 209);
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ccc;
    margin: 0 auto;
}

#cabecera {
    background-color: crimson;
    color: #fff;
}